<template name="User_Header">
  <div class="ui top fixed borderless inverted teal menu">
    <div class="ui container">
      <div class="item"><h1>UHM Exchange</h1></div>
      <a class="{{isActiveRoute "Post_Item_Page"}} item" href="{{pathFor "Post_Item_Page" username=routeUserName}}">Post a Listing</a>
      <a class="{{isActiveRoute "Browse_Page"}} item" href="{{pathFor "Browse_Page" username=routeUserName}}">Browse</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>